a.onlineshop-link {
    font-family: 'Shippori Mincho B1', serif;
    position: fixed;
    right: 25px;
    bottom: 25px;
    width: 370px;
    height: 115px;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0px 5px 25px 0px rgb(171 171 171 / 35%);
    display: flex;
    align-items: center;
    padding: 20px;
    transition: .5s;
    &:hover {
        &::before {
            background-color: #000;
        }
        &::after {
            background-color: #fff;
        }
    }
    @include mq(sp) {
        width: calc(100vw - 16vw);
        margin: 0 auto;
        height: calc((100vw - 16vw) * 0.25);
        right: initial;
        left: 50%;
        transform: translate(-50%, 0);
        padding: calc(100vw * 0.032);
    }
    &::before {
        content: '';
        position: absolute;
        width: 45px;
        height: 45px;
        border: 1px solid #000;
        border-radius: 50%;
        right: 20px;
        top: 50%;
        transform: translate(0, -50%);
        transition: .5s;
        @include mq(sp) {
            width: calc(100vw * 0.104);
            height: calc(100vw * 0.104);
            right: calc(100vw * 0.032);
        }
    }
    &::after {
        content: '';
        position: absolute;
        width: 45px;
        height: 45px;
        right: 20px;
        top: 50%;
        transform: translate(0, -50%);
        mask-image: url('../images/icon_arrow3.svg');
        mask-repeat: no-repeat;
        mask-size: 19px;
        mask-position: center;
        background-color: #000;
        transition: .5s;
        @include mq(sp) {
            width: calc(100vw * 0.104);
            height: calc(100vw * 0.104);
            mask-size: calc(100vw * 0.0453);
            right: calc(100vw * 0.032);
        }
    }
    img {
        width: 145px;
        @include mq(sp) {
            width: calc(100vw * 0.333);
        }
    }
    .text {
        font-size: 18px;
        font-weight: 800;
        padding-left: 5px;
        span {
            padding-top: .5em;
            display: block;
            font-size: 13px;
            font-weight: 300;
        }
    }
}